:root {
  --color-base-primary: hsl(25, 97%, 53%);
  --color-base-bg: hsl(0, 0%, 100%);
  --color-base-app-bg: hsl(270, 20%, 96%);
  --color-base-text: hsl(217, 12%, 63%);

  --color-chat-body-bg: hsl(206, 6%, 79%);
  --test: hsl(276, 100%, 81%);
  --color-chat-left-text: hsl(276, 55%, 52%);
  --color-chat-right-text: hsl(271, 15%, 43%);
  --color-p: hsl(270, 7%, 64%);
  --color-sub-heading: hsl(276, 100%, 81%);
  --color-pale-violet: hsl(271, 36%, 24%);

  --color-gradient-primary: hsl(293, 100%, 63%);
  --color-gradient-secondary: hsl(264, 100%, 61%);

  --color-btn-submit: hsl(271, 36%, 24%);
  --color-radio-button-outline: hsl(289, 100%, 72%);
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  height: 100vh;
}

div {
  border: 1px solid red;
}

.background {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--color-base-app-bg);
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 70%;
  background: linear-gradient(
    0deg,
    var(--color-gradient-secondary) 50%,
    var(--color-gradient-primary) 90%
  );
  border-bottom-right-radius: 1000px;
  /* z-index: -1; */
}

.content {
  display: grid;
  grid-template-rows: 0.2fr 1fr;

  background: var(--color-base-bg);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 13px;
  max-width: 250px;
  /* height: auto; */
  width: 65%;
  z-index: 1;
}

.chat-header {
  display: flex;
  align-items: center;
  border-radius: 17px 17px 7px 7px;
  padding: 15px 5px 0px 5px;
  background: linear-gradient(
    45deg,
    var(--color-gradient-secondary) 50%,
    var(--color-gradient-primary) 90%
  );
  position: relative;
}

.chat-header::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 60%;
  height: 30%;
  background: white;
  transform: translate(30%, -30%);
  border-radius: 0 0 11px 11px;
  /* z-index: -1; */
}

.chat-header img {
  border-radius: 50%;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid yellow;
}

.chat-header svg {
  height: 20px;
  width: 20px;
  fill: white;
}

.chat-header svg:last-of-type {
  margin-left: auto;
}

.chat-header p,
.chat-header h2 {
  color: white;
}

.chat-header h2 {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}

.chat-header p {
  font-size: 0.6rem;
  font-weight: 500;
}

.chat-body {
  /* height: calc(100% - 17%); */
  /* overflow-y: auto; */
  border-radius: 7px 7px 17px 17px;
  padding: 10px;
  background: var(--color-base-app-bg);
  display: grid;
  gap: 7px;
}

.chat-body__message,
.chat-body__message-right {
  width: auto;
  max-width: 70%;
  font-size: 0.55rem;
  padding: 5px;
  border-radius: 7px;
}

.chat-body__message {
  color: var(--color-chat-left-text);
  background: #ece5f3;
}

.chat-body__message-right {
  background: var(--color-base-bg);
  color: var(--color-chat-right-text);
  justify-self: end;
}

.chat-body .dog-pictures {
  padding: 0;
  background: none;
  display: flex;
  justify-content: end;
  gap: 7px;
}

.chat-body img {
  border-radius: 10%;
  height: 45px;
  width: 45px;
  /* margin-right: 5px; */
}

.chat-body__input {
  width: auto;
  max-width: 80%;
  font-size: 0.55rem;
  padding: 5px;
  border-radius: 7px;
  position: relative;
}

.chat-body__input + .button {
  padding: 1px;
  max-width: 100%;
}

.chat-body__input {
  display: flex;
  align-items: center;
}

.chat-body__input:not(:last-of-type) {
  background: linear-gradient(
    45deg,
    var(--color-gradient-secondary) 50%,
    var(--color-gradient-primary) 90%
  );
}

.chat-body__input input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-radio-button-outline);
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-body__input input[type="radio"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-radio-button-inner);
  opacity: 0;
  transition: opacity 0.3s;
}

.chat-body__input input[type="radio"]:checked::before {
  opacity: 1;
}

.chat-body__input label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.chat-body__input .tag-price {
  /* color: blue; */
  padding: 2px 5px;
  font-size: 0.8rem;
}

.chat-body__input input[type="text"] {
  height: 30px;
  width: 100%;
  max-width: 100%;
  border: 1px solid blue;
  outline: none;
  font-size: 0.55rem;
  border-radius: 15px;
  padding-left: 20px;
}

.chat-body__input button {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-20%, -50%);
  background-color: var(--color-btn-submit);
  color: white;
  border: none;
  border-radius: 50%;
  /* padding: 5px 15px; */
  cursor: pointer;
}

.chat-body__input .send-message-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-body__input svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px;
  background: var(--color-base-app-bg);
}

.booking-info__title {
  font-size: 2.3rem;
  color: var(--color-pale-violet);
  letter-spacing: 1px;
  font-weight: 700;
}

.booking-info__description {
  text-align: center;
  line-height: 1.7;
  color: var(--color-p);
}
/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-primary);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-primary-green); */
  text-decoration: none;
  color: var(--color-base-primary);
}

.fa-github {
  /* color: var(--color-base-primary-green); */
  margin-left: 0.5rem;
}
